/* colorpalette:
background-color: #21EBE4;
background-color: #2172EB;
background-color: #20B1EB;
background-color: #21EB9F;
background-color: #2132EB;
background-color: #6FC8EB;

color: #21EBE4;
color: #2172EB;
color: #20B1EB;
color: #21EB9F;
color: #2132EB;
color: #6FC8EB;
*/

body {
  background-color: #6FC8EB;
}

main {
  width: 90vw;
  margin: 0 auto;
}

button {
  padding: .8rem;
  border-radius: 25px;
  color: aliceblue;
  background-color: mediumpurple;
}

button:hover {
  opacity: .5;
}

h1 {
  text-decoration: underline;
}

.nomargin {
  margin: 0;
}
#encodeRotations,
#decodeRotations {
  margin-bottom: .8rem;
}

.hidden{
  display: none;
}
textarea {
  background-color: cornflowerblue;
  font-size: larger;
  color: aliceblue;
  margin-bottom: .4rem;
}

#encodedText,
#decodedText {
  display: inline-block;
  background-color: aliceblue;
  padding: .8rem;
  border-radius: 25px;
}

#switchLabel {
  padding: .8rem;
  border: 1px solid darkslateblue;
  border-radius: 25px;
  color: aliceblue;
  background-color: mediumpurple;
  display: inline-block;
  font-size: large;
}

#toggleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.switch {
  margin-left: 1rem;
}

#encode_btns_container{
  display: flex;
  gap: 1.5rem;
}

#minusone_btn,
#plusone_btn {
  width: 44px;
}

/* switch from w3schools: */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}